nav {
  padding: 5px;
  /* background: rgb(151, 150, 150); */
  color: #ffffff;
}
nav ul {
  padding: 0;
}
.mynav .nav {
  padding: 10px;
  background: rgb(2,40,102);
}
nav ul li {
  display: inline-block;
  /* margin: 0 10px; */
  cursor: pointer;
  padding: 5px;
  font-weight: 600;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

input[type="text"],
select {
  /* width: 100%; */
  padding: 7px 4px;
  margin: 8px 0;
  /* display: inline-block; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  /* width: 100%; */
  background-color: #229de9;
  color: white;
  padding: 6px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #101680;
}

body {
  margin: 15px;
  background-color: #fff;
}

/* Style the header */
.header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #022866;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #ffff;
  text-align: center;
  padding: 4px 6px 5px 31px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  /* background-color: #f7f14e; */
  color: rgb(255, 255, 255);
}

/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}





/* plan table */


.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}